In [20]:
import pandas as pd
import numpy as np

In [21]:
# 任务1：将列表转换为Numpy数组
import numpy as np
data0 = [2,4,6.5,8]
arr0 = np.array(data0)

In [22]:
# 任务2：新建Pandas中的Series数据类型，打印出其大小，索引值，值

In [23]:
# pandas中的Series数据类型
s = pd.Series(data=[100,'a',{'dic1':5}],
              index=pd.Index(['id1',20,'third'],name='my_idx'),
              dtype='object',
              name='my_name')

In [24]:
s2 = pd.Series(["1","2","3","4"])

In [25]:
s2.index.values

array([0, 1, 2, 3], dtype=int64)

In [26]:
type(s2.values[0])

str

In [27]:
s2.size

4

In [28]:
s2.shape

(4,)

In [29]:
# 任务3：创建DataFrame类型的数据，并获取其索引，值及表大小
d = {
    "one":pd.Series([1.0,2.0,3.0],index=["a","b","c"]),
    "two":pd.Series([1.0,2.0,3.0,4.0],index=["a","b","c","d"]),
}
df = pd.DataFrame(d)

In [30]:
d2 = {
    "作者":pd.Series(['余华','莫言','沈从文']) ,
    "作品":pd.Series(['活着','红高粱','边城']),
    "价格":pd.Series([36,54,45])
}
df2 = pd.DataFrame(d2)

In [31]:
df2.index.values

array([0, 1, 2], dtype=int64)

In [32]:
df2.shape

(3, 3)

In [33]:
df2.size

9

In [34]:
df2['作品']

0     活着
1    红高粱
2     边城
Name: 作品, dtype: object

In [35]:
df2[['作者','价格']]

    作者  价格
0   余华  36
1   莫言  54
2  沈从文  45

In [36]:
df2.values

array([['余华', '活着', 36],
       ['莫言', '红高粱', 54],
       ['沈从文', '边城', 45]], dtype=object)